Markup/a-XML_DTD_XSD/XSD_XML/ej12_validador.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="coche" type="tipoCoche"/>
    <xs:complexType name="tipoCoche">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="color" type="xs:string"/>
                <xs:attribute name="kilometros" type="xs:integer"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>