Markup/a-XML,DTD,XSD/pkg/XSD/ej10_validador.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="aniversario" type="tipoAniversario"/>

    <xs:complexType name="tipoAniversario">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="fecha" type="xs:date"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>