Markup/a-XML,DTD,XSD/pkg/XSD/ej11_validador.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona" type="tipoPersona"/>

    <xs:complexType name="tipoPersona">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="nombre" type="xs:string"/>
                <xs:attribute name="sexo" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>