Markup/a-XML,DTD,XSD/pkg/XSD/ej14_validador.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="codigo" type="tipoCodigo"/>

    <xs:complexType name="tipoCodigo">
        <xs:simpleContent>
            <xs:extension base="restriccionCodigo">
                <xs:attribute name="sede" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:simpleType name="restriccionCodigo">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Za-z]{3}"/> <!--permite intercalar-->
        </xs:restriction>
    </xs:simpleType>

</xs:schema>