Markup/a-XML,DTD,XSD/pkg/XSD/ej9_validador.xsd



<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="numero" type="tipoNumero"/>

    <xs:complexType name="tipoNumero">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <xs:attribute name="esPrimo" type="xs:boolean"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


</xs:schema>