1º/Markup/a-XML_DTD_XSD/XSD_XML/ej14_validador.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="codigo" type="tipoCodigo"/>
    <xs:simpleType name="restrictCodigo">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z|a-z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tipoCodigo">
        <xs:simpleContent>
            <xs:extension base="restrictCodigo">
                <xs:attribute name="sede" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>